@charset "UTF-8";

* {
  font-family: Arial;
  font-size: 20px;
  font-style: italic;
  margin: 0;
}

body {
  color: rgb(10, 0, 0);
}

#container {
  position: absolute;
  color: white;
  display: none;
}

.cover {
  position: absolute;
  top: 0;
}

.menu {
  display: none;
  background: #000;
  height: 100vh;
  width: 100vw;
}

.menu-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item{
  padding: 10px 100px;
  margin: 10px;
  background-color: #EBD5D6;
  color:#210E63;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 800;
  list-style: none;
}


.splash{
  background: #000;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-controls{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
}

#high_score{
  position: absolute;
  right: 20px;
  top: 20px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 2px;
}


#webglcanvas {
  border: none;
  background-color: #ffffff;
}

.logo-img{
  position: absolute;
  transform: translate(50%, 0%);
}

.copy{
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #FFF;
  font-size: 20px;
  letter-spacing: 2px;
}
/* Heealth bar */

#live .percentage{
  width: 200px;
  margin-top: 4.5px;
  /* background: rgba(246, 71, 71, 1); */
  height: 16px;
  display: inline-block;
}
#live .percentage .alive {
  height: 100%;
  background: rgba(38, 194, 129, 1);
  display: block;
}